.promo {
    min-height: 100vh;
    padding-bottom: 81px;
    background: url('../../img/background/layer.png') center (center/cover) no-repeat;
    
    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 23px;
    }
    &__icon {
        margin-right: 55px;
    }
    &__list {
        margin-right: 50px;
        font-size: 15px;
        line-height: 16px;
        font-weight: 400;
        display: flex;
        list-style-type: none;
        :last-child {
            border-right: none;
        }
    }
    &__element {
        border-right: 1px dashed	rgb(136,136,136);
        padding-right: 15px;
        margin-right: 15px;
    }
    &__link {
        color: $main-color;
            }
            
        
    
    .hamburger {
        display: none;
    }
   
    &__phone {
        display: flex;
        &-number {
            text-align: right;
            font-size: 14px;
            line-height: 24px;
            font-weight: 300;
            color: #ffffff;
        }
        &-num {
            text-align: right;
            font-size: 19px;
            line-height: 24px;
            font-weight: 700;
            color: #ffffff;
        }
    }

    &__btn {
        margin-left: 19px;
    }
    &__snap {
        display: block;
        margin: 0 auto;
        margin-top: 40px;
        font-size: 15px;
        line-height: 17px;
        font-weight: 700;
    }
    
    &__subtitle {
        text-align: center;
        margin-top: 58px;
        font-size: 24px;
        line-height: 1.2;
        font-weight: 300;
        color: #ffffff;
    }
    &__title {
        text-align: center;
        margin-top: 26px;
        font-size: 72px;
        line-height: 1.2;
        font-weight: 700;
        text-transform: uppercase;
        color: $main-color;
    }
    &__subheading {
        text-align: center;
        margin-top: 9px;
        font-size: 42px;
        line-height: 1.2;
        font-weight: 400;
        text-transform: uppercase;
        color: #ffffff;

    }
    &__wrapper {
        margin-top: 38px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__line {
        width: 455px;
        height: 1px;
        background-color: rgba(100%, 100%, 100%, 1);
    }
    &__circle {
        width: 10px;
        height: 10px;
        background-color: rgba(100%, 100%, 100%, 1);
        border-radius:100%;
        margin: 0 10px;
    }
    &__divider {
        width: 455px;
        height: 1px;
        background-color: rgba(100%, 100%, 100%, 1);
    }
    
    &__wrap {
        margin-top: 38px;
        display: grid;
        grid-template-columns:  repeat(4, 260px);
        justify-content: center;
        column-gap: 40px;
    }
    &__item {
        display: grid;
        grid-template-rows: minmax(70px, auto) minmax(40px, auto);
        row-gap: 19px;
        align-content: start;
        &-photo {
            text-align: center;
        }
        &-text {
            margin-bottom: 0;
            font-size: 16px;
            line-height: 22px;
            font-weight: 300;
            color: #ffffff;
            text-align: center;
           
        }  
    }


    
    
    
}