.question {
    min-height: 438px;
    background: url(../../img/background/background.png) no-repeat center (center/cover);
    padding: 62px 0 79px 0;
    &__wrapper {
        width: 896px;
        min-height: 297px;
        margin: 0 auto;
        
        
    }
    &__header {
        padding: 20px 0 20px 0;
        text-align: center;
        background-color: #25333c;
        
    }
    &__title {
        font-size: 19px;
        line-height: 17px;
        font-weight: 700;
        text-transform: uppercase;
        color: #ffffff;
    }
    &__subtitle {
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
        color: #ffffff;
    }
    &__form{
        
        background-color:rgba(100%, 100%,100%, 0.7);
        padding: 17px 0 25px 0;
        text-align: center;
    }
}